   <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{path('dashboard')}}">
                <div class="sidebar-brand-icon">
                    <img src="{{ asset('images/logo3.png') }}" style="width: 50px; height: 50px;"alt="Logo Image">
                </div>
                <div class="sidebar-brand-text mx-3">CTTI ADMIN</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{path('dashboard')}}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Students Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Students</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Actions:</h6>
                        <a class="collapse-item" href="">Add Student</a>
                        <a class="collapse-item" href="">View Students</a>
                        <a class="collapse-item" href="">Delete Student</a>
                        <a class="collapse-item" href="">Update Student</a>
                    </div>
                </div>
            </li>
              <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Programs Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>programs</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="HeadingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Actions:</h6>
                        <a class="collapse-item" href="">Add Program</a>
                        <a class="collapse-item" href="">View Programs</a>
                        <a class="collapse-item" href="">Delete program</a>
                        <a class="collapse-item" href="">Update program</a>
                    </div>
                </div>
            </li>
              <!-- Divider -->
            <hr class="sidebar-divider">

              <!-- Nav Item - Faculty Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Faculties</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Actions:</h6>
                        <a class="collapse-item" href="">Add Faculty</a>
                        <a class="collapse-item" href="">View Fuculties</a>
                        <a class="collapse-item" href="">Delete Faculty</a>
                        <a class="collapse-item" href="">Update Faculty</a>
                    </div>
                </div>
            </li>
              <!-- Divider -->
            <hr class="sidebar-divider">

              <!-- Nav Item - News Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>News & Events</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Actions:</h6>
                        <a class="collapse-item" href="{{path('add_news')}}">Add News</a>
                        <a class="collapse-item" href="">View News</a>
                        <a class="collapse-item" href="">Delete News</a>
                        <a class="collapse-item" href="">Update News</a>
                    </div>
                </div>
            </li>
              <!-- Divider -->
            <hr class="sidebar-divider">

              <!-- Nav Item - Users Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Users</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Actions:</h6>
                        <a class="collapse-item" href="">Add Users</a>
                        <a class="collapse-item" href="">View Users</a>
                        <a class="collapse-item" href="">Delete Users</a>
                        <a class="collapse-item" href="">Update Users</a>
                    </div>
                </div>
            </li>
              <!-- Divider -->
            <hr class="sidebar-divider">
              <!-- Nav Item - Programs Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Enrollment Applications</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Actions:</h6>
                        <a class="collapse-item" href="">View Applications</a>
                        <a class="collapse-item" href="">Delete program</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                More Actions
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="{{path('app_login')}}">Login</a>
                        <a class="collapse-item" href="{{path('app_register')}}">Register</a>
                        <a class="collapse-item" href="">Forgot Password</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="" alt="user_pic">
                <p class="text-center mb-2"><strong>{% if app.user %} {{ app.user.userIdentifier }} {% endif %}</strong> </p>
                <a class="btn btn-success btn-sm" href="{{ path('app_logout') }}">Logout</a>
            </div>

        </ul>
        <!-- End of Sidebar -->

        